@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
body {
    width: 100%;
    min-height: 100vh;
    background: #0a0aa6;
    background: linear-gradient(335deg, rgba(10, 10, 166, 1) 0%, rgba(7, 7, 121, 1) 23%, rgba(6, 5, 101, 1) 56%, rgba(3, 2, 58, 1) 83%, rgba(2, 0, 36, 1) 100%);
    color: white;
}
h1 {
    font-size: 72px;
}
a {
    text-decoration: none;
    color: #171717;
}
.text-indigo{
    color: #8540f5;
}
.btn-indigo{
    background-color: #8540f5;
}
