@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html, body {
  overflow-x: hidden;
  width: 100%;
  background: #0a0aa6;
  background: linear-gradient(335deg, rgb(10, 10, 166) 0%, rgb(7, 7, 121) 23%, rgb(6, 5, 101) 56%, rgb(3, 2, 58) 83%, rgb(2, 0, 36) 100%);
  color: white;
}

h1 {
  font-size: 72px;
}

a {
  text-decoration: none;
  color: #171717;
}

.text-indigo {
  color: #8540f5;
}

.btn-indigo {
  background-color: #8540f5;
  /* larger clickable area */
  padding: 0.75rem 1.5rem;
  font-size: 1.05rem;
}

input.btn, button.btn {
  padding: 0.75rem 1.5rem;
}

main .row * {
  margin-top: 1.5rem;
}

main .container, main .row > [class*="col-"] {
  box-sizing: border-box;
}

@media (max-width: 767.98px) {
  .no-border-sm.border-start,
  .no-border-sm.border-end,
  .no-border-sm.border {
    border: none !important;
  }
}